<!doctype html>

<html lang="en" ng-app="main">
<head>
  <meta charset="utf-8">
  <title>BetterCupid</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="js/main.js"></script>

</head>   
<body>
	<div class="content-box">
		<div ng-controller="index">
			<h2>{{title}}</h2>
			<p> 
				<a href="#/register">Register</a></p>
			</p>
	</div>
</body>
</html>